body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

table, td {
    border: solid;
    border-color: green;
    border-radius: 2px;
    border-collapse: collapse;
    text-align: right;
}

th {
 color: green;
 text-align: right;
}

.info {
    color: green;
    text-align: left;
}

.image {
    width: 10em;
    height: 5em;
}

.header {
    font-weight: bold;
    color: green;
    text-align: center;
    font-size: xx-large;
}

.link {
    color: blue;
    font-style: italic;
}